<nav class="menu-area">
    <ul class="main-menu">
        <li class="menu-item menu-item-has-children">
            <a class="menu-link" href="#">Home <i class="arrow-icon fas fa-angle-down"></i></a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a class="sub-menu-link" href="index.html">Home One</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="index2.html">Home Two</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="index3.html">Home Three</a></li>
            </ul>
        </li>