{% load static %}
<nav class="menu-area">
    <ul class="main-menu">
        <li class="menu-item menu-item-has-children">
            <a class="menu-link" href="#">Home <i class="arrow-icon fas fa-angle-down"></i></a>
            <ul class="sub-menu">
                        <a href="{% url 'Home:index' %}" class="footer-brand-logo mb-25"> <img src="{% static 'images/footer-logo.png'%}" alt="footer-logo" /></a>
                <li class="sub-menu-item"><a class="sub-menu-link" href="{% url 'Home:index' %}">Home One</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href= "{% url 'Home:index2' %}">Home Two</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="{% url 'Home:index3' %}">Home Three</a></li>
            </ul>
        </li>